*{
font-family: arial;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.block-cont-29fr{
width:29%;
  float:right;
}

.block-cont-69fl{
width:69%;
  float:left;
  border-right: 1px solid;
   border-bottom: 1px solid;
    border-color: rgb(110, 136, 169);
}

.flex-cont-cb{
	clear:both;
}

.flex-cont{
	display:flex;
	justify-content:center;
	align-items:center;
}

.flex-cont-c{
	display:flex;
	justify-content:center;
	align-items:center;
  flex-direction:column;
}

.flex-cont-r{
	display:flex;
	justify-content:center;
	align-items:baseline;
}

.flex-cont-2{
	display:flex;
	justify-content:center;
	align-items:center;
  width:49%;
}

.flex-cont-3{
	display:flex;
	justify-content:center;
	align-items:center;
  width:32%;
}

.flex-cont-29{
	display:flex;
	justify-content:center;
	align-items:center;
  width:29%;
  flex-direction:column;
  color:rgb(110, 136, 169);
}

.flex-cont-69{
	display:flex;
	justify-content:center;
	align-items:center;
  width:69%;
}

.flex-cont-fn{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-wrap: wrap;
	margin-top:5px;
	position: fixed;
    bottom: 0px;
    width: 100%;
    	border-top:1px solid;
	border-color:rgb(110, 136, 169);
  background-color:white;
}
.flex-cont-h2{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-wrap: wrap;
	margin-top:5px;
	position: fixed;
    bottom: 55px;
    width: 100%;
}


.dropbtn {
    background-color: white;
    color: rgb(110, 136, 169);
    padding: 16px;
    font-size: 16px;
    border: none;
	width:150px;
}

.dropdown {
    position: relative;
	
    display: inline-block;
}

.dropdownl {
    position: relative;
	right:0px;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    z-index: 1;
}

.dropdown-content a {
    color: rgb(110, 136, 169);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: white;}

.header{
	display:flex;
	justify-content:center;
	align-items:center;
	border-bottom:1px solid;
	border-top:1px solid;
	border-color:rgb(110, 136, 169);
	height:150px;
}
.headerimg{
	display:flex;
	justify-content:center;
	align-items:center;
	border-bottom:1px solid;
	border-top:1px solid;
	border-color:rgb(110, 136, 169);
	height:150px;
}

h1{
	margin:0;
	display:block;
	Height:30px;
	width:100%;
	background-color:white;
	color:rgb(110, 136, 169);
	font-size:1.3em;
	text-align:center;
	font-weight:700;
	border-bottom:1px solid;
		border-color:rgb(110, 136, 169);
	}

h3{
	margin:0;
	display:block;
	Height:30px;
	width:100%;
	background-color:white;
	color:rgb(110, 136, 169);
	font-size:1.3em;
	text-align:center;
	font-weight:700;
	
	}
	
	h2{
	border-top:1px solid;
	border-bottom:1px solid;
	border-color:rgb(110, 136, 169);
	padding:0;
	margin:0;
	
	Height:30px;
	width:100%;
	background-color:white;
	color:rgb(110, 136, 169);
	font-size:1.3em;
	text-align:center;
	font-weight:700;
	
	}
	
	.foot-cont{
position: fixed;
    bottom: 0;
    flex-direction: column;
    display: flex;
    width: 100%;
}
	
	.dropupbtn {
  background-color: white;
  color: rgb(110, 136, 169);
  padding: 16px;
  font-size: 16px;
  border: none;
  width:95%;
  margin-bottom:5px;
}

.dropup {
	
  position: relative;
  bottom:0;
  display: inline-block;
  width:150px;
}

.dropup-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  bottom: 50px;
  z-index: 1;
}

.dropup-content a {
  color: rgb(110, 136, 169);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropup-content a:hover {background-color: #ccc}

.dropup:hover .dropup-content {
  display: block;
}

.dropup:hover .dropupbtn {
  background-color: #2980B9;
}


@media only screen and (min-device-width :320px) and (max-device-width :480px){h1{height:inherit; flex-wrap: wrap; }h2{height:inherit}.dropup{flex-wrap: wrap}.flex-cont-h2{

	position: fixed;
    bottom: 105px;
   
  }.flex-cont-3{width:99%}.flex-cont-r{flex-direction:column}.flex-cont-29{width:99%}.flex-cont-69{width:99%}.block-cont-29fr{width:99%}.block-cont-69fl{width:99%}}


